.submitButton {
    outline: none !important;
}

.inlineLink {
    font-size: var(--mantine-font-size-md);
    padding: 0.1rem;
    background-color: var(--mantine-color-body);
    border: 0px solid;
    border-radius: 0.25rem;
    &:hover {
        color: var(--mantine-color-green-8);
    }
}
